body {
    background-color: rgb(13, 118, 223);
}

.container {
    margin: 0 auto;
    width: 900px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4); 
}

.mb-2 {
    margin-bottom: 10px;
}

.active {
    color: red;
    font-size: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn {
    padding: 0px 15px;
    line-height: 20px;
    border-radius: 20px;
    font-size: large;
}

.loading {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    color: white;
    padding-top: 180px;
}